/* body {
    background: rgb(28,19,53); 
    background: linear-gradient(NaNdeg, rgba(28,19,53,1) 0%, rgba(14,148,182,1) 26%);
    font-family: 'Sarabun', sans-serif;
    color:#FFF;
    font-size: 2em;
    
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    width:100% ;
    
}
      
p {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}



    font-family: 'Righteous', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Poppins', sans-serif;



*/



body {
  font-family: 'Poppins', sans-serif;
  color:#009dac;
  margin: 0px;
  padding: 0px;
  background: rgb(48,48,207);
  background: linear-gradient(0deg, rgba(48,48,207,1) 0%, rgba(11,183,218,1) 100%); 
  }

.header{
    position: absolute;
  }

  .imgfond{
  position: relative;
  }

  #logo {
  position: relative;
  margin-top:25%;
  /* top: 50%; */

  /* transform: translate(-50%, -50%); */
width: 30%;
  }


  header {
    padding-bottom: 5%;
  }

  footer {
    padding-top:3%; 
  }

  .titre {
    font-family: 'Over the Rainbow', cursive;
    font-size: 70px;
    padding:2%;
  }
  
 
  .banner{
    height: 190px;
    color: white;
    text-align: center;
    background-color: grey;
  }
  
  .banner h1{
    font-size: 2em;
    padding-top: 50px;
    margin-bottom: 10px;
  }


 .carousel-control-prev{
top:60px;
 }


 .carousel-control-next{
  top:60px;
 }

.carousel {
  width: 100%;
}

.slide-box>div{
  margin-right:10px;

}
.slide-box>div>img{
  width:100%;
  height:auto;
}
.slide-box {
  display: flex;
  justify-content: space-between;
  padding-top:50px;
}



@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box div {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-right:10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box div {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    margin-right:10px;
  }
}

@media (min-width: 992px)
{
  .slide-box div {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin-right:10px;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

.ecoute{
  margin-top:20px;  
}

.nouvelles{
  margin-top:20px;
}



















 
 /* .car__item {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 180px;
    -webkit-box-shadow: 1px 3px 1px rgb(220,220,220);
    border: 1px solid rgb(220,220,220);
    
  }
  
.car__item p {
    padding: 10px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
  }
  
.car__item h1 {
    display: inline;
    color: green;
    font-size: 4em;
  } */

 /* .card {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px;
  width: 180px;
  -webkit-box-shadow: 1px 3px 1px rgb(220,220,220);
  border: 1px solid rgb(220,220,220); 
  border-radius: 0px;
} */
   

/* /* 
.carousel{
    padding-top: 40px;
    text-align: center;
  }
  
.carousel__container{
    display: inline-block;
    min-width: 800px;
    margin: 0 auto;
  }
  
.slick-next {
    position: relative;
    top: -200px;
    left: 450px;
    color: green;
  }
  
.slick-prev {
    position: relative;
    top: 192px;
    left: -450px;
    color: green;
  } */
   */
 */

















.btn {
    position: relative;
    top: -120px;
  }
  
.dropdown{
    display: none;
  }
  
.mob-menu {
    display: none;
  }

#demo, #reponse {

 width: auto;
 
}

#reponse{
  margin-top:80px;
}
  
/* @media only screen and (max-width: 690px) {
    

.slick-next {
      top: -218px;
      left: 145px;
    }
  
.slick-prev {
      top: 192px;
      left: -150px;
    }
    
.carousel__container{
      width: 200px;
    }
    
  } */


 /* *{
    background-color: rgba(0,0,0,0.2)
}  */
